*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5.5%;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

nav a:hover,
nav a.active{
    color: #0ef;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 100px;
    color: #fff;
    font-weight: 400;
}

section:nth-child(odd){
    background: #323946;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    background-color: #000;
}

::-webkit-scrollbar-thumb{
    background: rgb(10, 215, 230);
    border-radius: 6px;
}